<div style="background-color: rgba(255, 255, 255, 0.87);">


<app-nav-bar></app-nav-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" >
  Loading... </p></ngx-spinner>


<div class="col-md-4 col-sm-6 content-card" style="margin-left:15%"*ngIf="!show">
  <div class="card-big-shadow" style="width: 1000px;">
      <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none" style="border-radius: 1.5rem;">
          <div class="content">
              <h6 class="category">Analytics</h6>
              <h4 class="title"><a href="#">Company Statistics</a></h4>
              <p class="description">On this page, you company, can view the statistics regarding the data of your transactions.
                This data is sensitive, so please confirm if you want to see.  </p>
              <button class="btn btn-warning " style="border-radius: 1.5rem;" (click)="show2()"> Confirm</button>

            </div>
      </div> <!-- end card -->
  </div>
</div>

  <br>


  <div  style="margin-left:10%" *ngIf="show" >
    <br><br>
    <h1  style="text-align: center;color :#216ba4"> Results' filtering by date</h1>
    <mat-card  style="margin-left:12%"class="datePicker">


        <div class="form-group">

        <mat-form-field  appearance="fill" style="width: 100%;">
          <mat-label style="font-size: 12px;">Start Date</mat-label>
          <input  class="input-date" matInput required  [matDatepicker]="startDate"
          [value]=""
          name="startDate"
          [(ngModel)]="ricerca.dateStart">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group" style="margin-left: 50px;">

        <mat-form-field  appearance="fill" style="width: 100%;">
          <mat-label style="font-size: 12px;">End Date</mat-label>
          <input  class="input-date" matInput required  [matDatepicker]="endDate"
          [value]=""
          name="endDate"
          [(ngModel)]="ricerca.dateEnd">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
      <button
      [disabled]="!ricerca.dateStart || !ricerca.dateEnd"
      class="btn-danger search-button" (click)="search()">SEARCH </button>

    </mat-card>
    <br>
    <button
    style="border-radius: 30px; margin-left:40%;"
    class="btn btn-info" (click)="recharge()">Back to the general view </button>
    <br><br><br><br>

    <div *ngIf="searchView">

      <h1 class="tit" style="text-align: center;"> 1. The numbers of the selected period</h1>
      <br><br>
        <div fxLayout="row"  >
          <div fxFlex="57" >

               <mat-card style="position: relative; left: 220px;" class="numbers">

                <ul class="info">
                  <li >Renter reservations : <a>{{bookingsRicerca}}</a></li>
                  <li >Kg booked by renters : <a>{{KgRicerca}} Kg</a></li>
                  <li >Money earned : <a>{{soldiRicerca.toFixed(1)}} $</a></li>
                  <li >Offers added : <a>{{offerteRicerca}} </a></li>

                </ul>

               </mat-card>
              </div>
            </div>
          </div>

<div *ngIf="show && !searchView">
    <h1 class="tit"> 1. MONTHLY TREND</h1>
    <br>
<mat-card style="border-radius :30px; margin: auto; background: rgb(191, 215, 255); margin-right:7%">
  <h1 class="font-weight-bold text-center  " >{{entireActualMonth}} Trend *</h1>
</mat-card>
</div>
  </div>
  <div *ngIf="show && !searchView">
  <br><br>
  <div  fxLayout="row" style="margin-left: 180px;" fxLayoutAlign="space between center" fxLayoutGap="20px" class="stats cards" *ngIf="show">

    <mat-card fxFlex="29">
      <div class="text" style="padding-bottom: 5px; position: relative; top: -5px;" >
        <h4>Users' Bookings</h4>

        <span class="total" > +{{this.bookingDatiFinestra[3]}}</span>

        <span>
          <mat-icon color="primary" *ngIf="bookingIncrement >= 0"> trending_up</mat-icon>
          <mat-icon color="primary" style="color: red;"*ngIf="bookingIncrement < 0"> trending_down</mat-icon>

        </span>
        <span class="description"
        [ngClass]="{'text-danger': bookingIncrement < 0}"
        >
          &nbsp;{{bookingIncrement}} %
        </span>
        <span style="font-size: 14px;" *ngIf="bookingIncrement >= 0"> increment *</span>
        <span style="font-size: 14px;"  *ngIf="bookingIncrement < 0"> decrement *</span>

      </div>
      <highcharts-chart style=" display : block;height: 120px; width: 100%; "

      [Highcharts]="Highcharts"
      [options]="miniChartOptions2"

    ></highcharts-chart>
    </mat-card>
    <mat-card fxFlex="29">
      <div class="text" style="padding-bottom: 5px; position: relative; top: -5px;" >
        <h4>Money handled</h4>

        <span class="total" style="font-size: 30px;"> +{{this.incassiFinestra[3]|number:'1.2-2'}} $</span>

        <span>
          <mat-icon color="primary" *ngIf="incassiIncrement >= 0"> trending_up</mat-icon>
          <mat-icon color="primary" style="color: red;"*ngIf="incassiIncrement < 0"> trending_down</mat-icon>

        </span>
        <span class="description"
        [ngClass]="{'text-danger': incassiIncrement < 0}"
        >
          &nbsp;  {{incassiIncrement}} %
        </span>
      </div>
      <highcharts-chart style=" display : block;height: 120px; width: 100%;"

      [Highcharts]="Highcharts"
      [options]="miniChartOptions3"

    ></highcharts-chart>
    </mat-card>
    <mat-card fxFlex="29">
      <div class="text" style="padding-bottom: 5px; position: relative; top: -5px;" >
        <h4>kg of packages handled</h4>

        <span class="total" style="font-size: 30px;"> +{{this.KgFinestra[3]}} Kg</span>

        <span>
          <mat-icon color="primary" *ngIf="kgIncrement >= 0"> trending_up</mat-icon>
          <mat-icon color="primary" style="color: red;"*ngIf="kgIncrement < 0"> trending_down</mat-icon>

        </span>
        <span class="description"
        [ngClass]="{'text-danger': kgIncrement < 0}"
        >
          &nbsp;  {{kgIncrement}} %
        </span>
      </div>
      <highcharts-chart
      style=" display : block;height: 120px; width: 100%; "
      [Highcharts]="Highcharts"
      [options]="miniChartOptions4"

    ></highcharts-chart>
    </mat-card>


  </div>
  <label style="color: rgb(186, 183, 183); margin-left: 125px;margin-top: 25px;" *ngIf="show"> * Compared to the last month</label>
</div>
  <br><br>
  <div *ngIf="show && !searchView">

  <h1 class="tit" *ngIf="show"> 2. COMPANY NUMBERS</h1>
  <br><br>
<div  *ngIf="show" >
<div class="container">
  <div class="row">
    <highcharts-chart class="col"
    style=" margin-left:2%; margin-right:2%; border: 1px solid rgb(0, 255, 255); border-radius:30px;
    width:fit-content "

     *ngIf="show"

    [Highcharts]="Highcharts"
    [options]="chartOptions"

  ></highcharts-chart>


      <highcharts-chart  *ngIf="show"
        class="col"
        style=" border: 1px solid rgb(251, 255, 0); border-radius:30px;  width: fit-content;"

        [Highcharts]="Highcharts"
        [options]="allStatsChartOptions"

      ></highcharts-chart>
  </div>
</div>





</div>
</div>
<br>
<div class="row"  *ngIf="show" style="margin-top: 50px;">
  <h1 class="tit" *ngIf="!searchView"> 3. VECTOR STATS</h1>
  <h1 class="tit" *ngIf="searchView"> 2. VECTOR STATS</h1>
<br> <br> <br>
 <div class="container">
<div class="row" *ngIf="show">
  <div class="row"  *ngIf="vectorRate.length == 0 &&  vectorLicenseRate.length == 0" >
    <h1 style=" font-family: sans-serif; margin-left:3%; text-align:center;">No data in the selected period</h1>
  </div>
  <highcharts-chart  class="col"
  style=" margin-right:2%; border: 1px solid red; border-radius:30px; "
  [Highcharts]="Highcharts"
  [options]="pieOptions"

></highcharts-chart>

<highcharts-chart class="col"
style="border: 1px solid rgb(169, 11, 231); border-radius: 30px; "

  [Highcharts]="Highcharts"
  [options]="pieOptions2"

></highcharts-chart>

</div>
<div class="row"  *ngIf="show" style="margin-top:2%;">
  <div class="row"  *ngIf="vectorBookedRate.length == 0 && vectorLicenseBookedRate.length  == 0" >
    <h1 style=" font-family: sans-serif; margin-top:3%; margin-left:3%; text-align:center;">No data in the selected period</h1>
  </div>
  <highcharts-chart  class="col"
  style=" margin-right:2%;  border: 1px solid rgb(30, 255, 0); border-radius: 30px;"
  [Highcharts]="Highcharts"
  [options]="pieOptions3"

></highcharts-chart>

<highcharts-chart class="col"
style="border: 1px solid rgb(255, 166, 0); border-radius: 30px; "

  [Highcharts]="Highcharts"
  [options]="pieOptions4"

></highcharts-chart>
</div>

 </div>
</div>





<br>
<div *ngIf="show && !searchView">
<h1 class="tit" *ngIf="show" style="margin-top:2%" >4. DAILY REPORT</h1>

<div style=" padding-top: 20px; display: flex; justify-content: center; " *ngIf="show">

  <mat-card >
    <header style="display: flex; justify-content: center;">
      <button-group>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Jan'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Jan')">Jan</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Feb'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Feb')">Feb</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Mar'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Mar')">Mar</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Apr'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Apr')">Apr</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='May'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('May')">May</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Jun'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Jun')">Jun</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Jul'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Jul')">Jul</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Aug'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Aug')">Aug</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Sep'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Sep')">Sep</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Oct'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Oct')">Oct</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Nov'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Nov')">Nov</button>
        <button
        [ngClass]="{'bg-secondary text-white': actualMonth=='Dec'}"
        class="btn btn-outline-secondary" (click)="setActualMonth('Dec')">Dec</button>


      </button-group>
    </header>
    <highcharts-chart
    style="width: 100%; height: 1000px;"
    [Highcharts]="Highcharts"
    [options]="chartGiornalieroOptions"

  >
  </highcharts-chart>
  </mat-card>

  </div>
</div>
  <h1  style="margin-top: 3%;" class="tit" *ngIf="show && !searchView">5. GEOGRAPHICAL REPORT</h1>
  <h1  style="margin-top: 3%;" class="tit" *ngIf="searchView">3. GEOGRAPHICAL REPORT</h1>

  <br>


  <div class="container" *ngIf="show">
    <div class="row">
        <highcharts-chart class="col" style="margin-left:2%; margin-right:2%;
        border: 1px solid red; border-radius:30px "
        [Highcharts]="Highcharts"
        [options]="mapOptions1"

      ></highcharts-chart>
        <highcharts-chart  class="col" style="border:1px solid rgb(7, 63, 109); border-radius: 30px;"
        [Highcharts]="Highcharts"
        [options]="mapOptions2"

      ></highcharts-chart>
    </div>
    <div class="row">
      <div class="col " style="margin-left: 1%; ">
        <br>
          <ul >
            <li *ngIf="italiaCount != 0"> Italy : {{this.italiaCount}}</li>
            <li  *ngIf="russiaCount != 0"> Russia : {{this.russiaCount}}</li>
            <li  *ngIf="franciaCount != 0"> France : {{this.franciaCount}}</li>
            <li  *ngIf="usaCount != 0"> USA : {{this.usaCount}}</li>
            <li  *ngIf="regnoUnitoCount != 0"> United Kingdom : {{this.regnoUnitoCount}}</li>
            <li  *ngIf="spagnaCount != 0"> Spain : {{this.spagnaCount}}</li>
            <li  *ngIf="indiaCount != 0"> India : {{this.indiaCount}}</li>
            <li  *ngIf="canadaCount != 0"> Canada : {{this.canadaCount}}</li>
            <li  *ngIf="cinaCount != 0"> China : {{this.cinaCount}}</li>
            <li  *ngIf="giapponeCount != 0"> Japan : {{this.giapponeCount}}</li>
            <li  *ngIf="greciaCount != 0"> Greece : {{this.greciaCount}}</li>
            <li  *ngIf="svizzeraCount != 0"> Switzerland : {{this.svizzeraCount}}</li>
            <li  *ngIf="germaniaCount != 0"> Germany : {{this.germaniaCount}}</li>
            <li  *ngIf="portogalloCount != 0"> Portugal : {{this.portogalloCount}}</li>


          </ul>
      </div>
      <div class="col " style="margin-left: 1%; ">
        <br>
        <ul >
            <li *ngIf="italiaCount2 != 0"> Italy : {{this.italiaCount2}}</li>
            <li  *ngIf="russiaCount2 != 0"> Russia : {{this.russiaCount2}}</li>
            <li  *ngIf="franciaCount2 != 0"> France : {{this.franciaCount2}}</li>
            <li  *ngIf="usaCount2 != 0"> USA : {{this.usaCount2}}</li>
            <li  *ngIf="regnoUnitoCount2 != 0"> United Kingdom : {{this.regnoUnitoCount2}}</li>
            <li  *ngIf="spagnaCount2 != 0"> Spain : {{this.spagnaCount2}}</li>
            <li  *ngIf="indiaCount2 != 0"> India : {{this.indiaCount2}}</li>
            <li  *ngIf="canadaCount2 != 0"> Canada : {{this.canadaCount2}}</li>
            <li  *ngIf="cinaCount2 != 0"> China : {{this.cinaCount2}}</li>
            <li  *ngIf="giapponeCount2 != 0"> Japan : {{this.giapponeCount2}}</li>
            <li  *ngIf="greciaCount2 != 0"> Greece : {{this.greciaCount2}}</li>
            <li  *ngIf="svizzeraCount2 != 0"> Switzerland : {{this.svizzeraCount2}}</li>
            <li  *ngIf="germaniaCount2 != 0"> Germany : {{this.germaniaCount2}}</li>
            <li  *ngIf="portogalloCount2 != 0"> Portugal : {{this.portogalloCount2}}</li>


          </ul>
      </div>
    </div>

  </div>
  <br>
  <br>
  </div>















