<app-nav-bar></app-nav-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


<div style="margin-left: 250px; padding-top: 50px;">
  <button class="btn btn-primary" (click)="show2()"> Dashboard</button>

<highcharts-chart
  style="width: 100%; height: 400px;" *ngIf="show"

  [Highcharts]="Highcharts"
  [options]="chartOptions"

></highcharts-chart>

</div>

<div style="margin-left: 250px; padding-top: 50px;">

  <highcharts-chart
  style="width: 100%; height: 400px;" *ngIf="show"
  [Highcharts]="Highcharts2"
  [options]="chartOptions2"

></highcharts-chart>

</div>


<div style="margin-left: 250px; padding-top: 50px;">

  <highcharts-chart
  style="width: 100%; height: 400px;" *ngIf="show"
  [Highcharts]="Highcharts3"
  [options]="chartOptions3"

></highcharts-chart>

</div>

<div style="padding-top: 50px;display: flex; justify-content: flex-end;">

  <highcharts-chart
  style="width: 100%; height: 400px;" *ngIf="show"
  [Highcharts]="pie"
  [options]="pieOptions"

></highcharts-chart>

</div>

