
<app-nav-bar></app-nav-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "false">
  <p style="color: white; padding-top:10%; font-size:20px" > Loading analytics ... </p>
</ngx-spinner>
<div class="bg" >

<div class="container" style=" padding-top:3%" >
  <div style=" margin-left:30%; margin-bottom:4%; margin-right:30%; border: 2px solid rgb(255, 255, 255);
  border-radius: 30px; color:rgb(0, 0, 0);
  text-align: center; ">
    <h1 style=" font-size:30px; padding-top:2%;">
  <strong> Your Analytics</strong>
  </h1>  </div>

  <div class="row" >
    <div class="col-sm" style=" text-align:center ">
      <h2 style="background-color: rgba(255, 255, 255, 0.911);border-radius:50px">Route booked</h2>
    </div>
    <div class="col-sm" style="  text-align: center;">
      <h2 style="background-color: rgba(255, 255, 255, 0.911); border-radius:50px">Vector used</h2>
    </div>

  </div>
  <div class="row" >
    <div class="col-sm" style="width: 50%; height:70%; ">
      <div style="background-color: rgba(255, 255, 255, 0.781); border-radius:30px">
        <canvas baseChart
                            [data]="doughnutChartDataRoute"
                    [labels]="doughnutChartLabelsRoute"
                    chartType="doughnut"
                    [colors]="donutColorsRoute"
                    ></canvas>
      </div>
    </div>
    <div class="col-sm" style="width: 50%; height:70%; ">
      <div style="background-color: rgba(255, 255, 255, 0.815); border-radius:30px">
        <canvas baseChart
        [data]="doughnutChartDataVector"
        [labels]="doughnutChartLabelsVector"
        chartType="doughnut"
        [colors]="donutColorsVector"
        ></canvas>
      </div>

    </div>

  </div>
 <div *ngIf="show">
  <div class="row">
    <div class="col-sm" style="margin-top:5%; width: fit-content; text-align:center ">
      <h2 style="background-color: rgba(255, 255, 255, 0.911);border-radius:50px">Booking trend date</h2>
      <div  class="input-group mb-3" style="padding-left:81.5%; width:fit-content; border-radius:20px;">
        <input type="text" class="form-control"  style="width: 140px;"  placeholder="Date for filter" [(ngModel)]="filterYear" name="filterYear"  aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-info" style="background-color:#5677fc"  (click)="applyFilter()"type="button">  Apply  </button>
        </div>
      </div>
    </div>
  </div>
  <div  class="row" style="margin-bottom: 4%; border-radius:30px; background-color: rgba(255, 255, 255, 0.878);">
    <canvas baseChart  height="100" width="fit-content"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [colors]="lineChartColors"
    chartType="line"
    >
  </canvas>
</div>
 </div>


 <div *ngIf="show2">
  <div class="row">
    <div class="col-sm" style=" width: fit-content; text-align:center ">
      <h2 style="background-color: rgba(255, 255, 255, 0.911);border-radius:50px">Booking trend cost</h2>

    </div>
  </div>
  <div  class="row" style="margin-bottom: 5%; border-radius:30px; background-color: rgba(255, 255, 255, 0.878);">
    <canvas baseChart  height="100" width="fit-content"
    [datasets]="lineChartDataCost"
    [labels]="lineChartLabels"
    [colors]="lineChartColorsCost"
    chartType="line"
    >
  </canvas>
</div>
 </div>

  </div>
</div>









