
  <button  mat-button style="margin-left: 90%"

  (click)="closeModal();">X</button>

<div class="container py-7 ">
        <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">
          Trip Scheduling
        </h2>
        <p class="text-sm text-dark mt-0 mb-5">There's time and place for everything.</p>
        <!-- Days -->
        <div class="row">
                  <div class="col">

          <div *ngFor="let day of days; let myIndex = index" style="position: relative; left: 0px;">

            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold "  >
              {{dates[myIndex] | date : "EEEE, dd MMMM  YYYY"}}
            </h4>
            <ul class="list-timeline list-timeline-primary ">

              <div *ngFor="let viaggioRoute of viaggioRouteList; let idx = index">

                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column " *ngIf="viaggioRoute.dayStart == day && ((viaggioRoute.startDateString > nowFormatted && viaggioRoute.endDateString > nowFormatted) ||(viaggioRoute.startDateString < nowFormatted && viaggioRoute.endDateString < nowFormatted))">
              <ul >

                <li><p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8"> {{viaggioRoute.startDate | date : "HH:mm"}} - {{viaggioRoute.route.startCity}} </span></p></li>
                <li *ngIf="viaggioRoute.dayEnd == day"><p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2" >{{viaggioRoute.endDate | date : "HH:mm"}} - {{viaggioRoute.route.endCity}}</p></li>

              <div class="col" style="position: relative; top: 10px; right : 0px; color: rgb(38, 147, 180);" *ngIf="viaggioRoute.dayEnd == day">
                    <p>{{viaggioRoute.distance}} Km</p>
              </div>
                <div style="width: 100px; padding-top: 10px;" *ngIf="viaggioRoute.dayEnd == day">
                  <td class="p-progress">
                    <div class="progress progress-xs">
                        <div
                        [style.background]="(occupiedCapacity[idx] < 70) ? 'rgb(0, 233, 0)' : ( (occupiedCapacity[idx] >= 70 && occupiedCapacity[idx] <90)? 'rgb(255, 183, 1)':'red')"

                        style="width: {{occupiedCapacity[idx]}}%" class="progress-bar progress-bar-success"></div>
                    </div>
                    <small style="font-size: 11px;">{{occupiedCapacity[idx]}}% Occupied </small>
                    <button [disabled]="true" *ngIf="occupiedCapacity[idx] == 0" class="btn btnEffect" >EMPTY RETURN</button>
                  </td>
                </div>

              </ul>
                <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> </p>

              </li>

              <!-- se l'end date è diverso dallo start date-->
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column " *ngIf="viaggioRoute.dayEnd == day && viaggioRoute.dayStart != day && ((viaggioRoute.startDateString > nowFormatted && viaggioRoute.endDateString > nowFormatted) ||(viaggioRoute.startDateString < nowFormatted && viaggioRoute.endDateString < nowFormatted))">
                <ul >

                  <li *ngIf="viaggioRoute.dayStart == day"><p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8"> {{viaggioRoute.startDate | date : "HH:mm"}} - {{viaggioRoute.route.startCity}} </span></p></li>
                  <li *ngIf="viaggioRoute.dayEnd == day"><p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2" >{{viaggioRoute.endDate | date : "HH:mm"}} - {{viaggioRoute.route.endCity}}</p></li>

                <div class="col" style="position: relative; top: 10px; right : 0px; color: rgb(38, 147, 180);">
                      <p>{{viaggioRoute.distance}} Km</p>
                </div>
                  <div style="width: 100px; padding-top: 10px;">
                    <td class="p-progress">
                      <div class="progress progress-xs">
                          <div
                          [style.background]="(occupiedCapacity[idx] < 70) ? 'rgb(0, 233, 0)' : ( (occupiedCapacity[idx] >= 70 && occupiedCapacity[idx] <90)? 'rgb(255, 183, 1)':'red')"

                          style="width: {{occupiedCapacity[idx]}}%" class="progress-bar progress-bar-success"></div>
                      </div>
                      <small style="font-size: 11px;">{{occupiedCapacity[idx]}}% Occupied </small>
                      <button [disabled]="true" *ngIf="occupiedCapacity[idx] == 0" class="btn btnEffect" >EMPTY RETURN</button>
                  </td>
                  </div>

                </ul>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> </p>

                </li>
                <!--  NOW   -->
              <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2" *ngIf="viaggioRoute.dayStart == day && viaggioRoute.startDateString < nowFormatted && viaggioRoute.endDateString > nowFormatted">

                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;"> &nbsp;&nbsp;&nbsp;&nbsp; Now</span></p>
                <ul>
                  <li><p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8"> {{viaggioRoute.startDate | date : "HH:mm"}} - {{viaggioRoute.route.startCity}} </span></p></li>
                  <li  *ngIf="viaggioRoute.dayEnd == day"><p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2">{{viaggioRoute.endDate | date : "HH:mm"}} - {{viaggioRoute.route.endCity}}</p></li>
                  <div class="col" style="position: relative; top: 10px; right : 0px; color: rgb(38, 147, 180);"  *ngIf="viaggioRoute.dayEnd == day">
                    <p>{{viaggioRoute.distance}} Km</p>
              </div>
                  <div style="width: 100px; padding-top: 10px;"  *ngIf="viaggioRoute.dayEnd == day">
                    <td class="p-progress">

                      <div class="progress progress-xs">
                          <div
                          [style.background]="(occupiedCapacity[idx] < 70) ? 'rgb(0, 233, 0)' : ( (occupiedCapacity[idx] >= 70 && occupiedCapacity[idx] <90)? 'rgb(255, 183, 1)':'red')"

                          style="width: {{occupiedCapacity[idx]}}%" class="progress-bar progress-bar-success"></div>
                      </div>
                      <small style="font-size: 11px;">{{occupiedCapacity[idx]}}% Occupied </small>
                      <button [disabled]="true" *ngIf="occupiedCapacity[idx] == 0" class="btn btnEffect" >EMPTY RETURN</button>
                  </td>
                  </div>
                </ul>
              </li>


               <!-- NOW con end date diverso dallo start date-->
               <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column " *ngIf="viaggioRoute.dayEnd == day && viaggioRoute.dayStart != day && viaggioRoute.startDateString < nowFormatted && viaggioRoute.endDateString > nowFormatted">
                <ul >

                  <li *ngIf="viaggioRoute.dayStart == day"><p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8"> {{viaggioRoute.startDate | date : "HH:mm"}} - {{viaggioRoute.route.startCity}} </span></p></li>
                  <li *ngIf="viaggioRoute.dayEnd == day"><p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2" >{{viaggioRoute.endDate | date : "HH:mm"}} - {{viaggioRoute.route.endCity}}</p></li>

                <div class="col" style="position: relative; top: 10px; right : 0px; color: rgb(38, 147, 180);">
                      <p>{{viaggioRoute.distance}} Km</p>
                </div>
                  <div style="width: 100px; padding-top: 10px;">
                    <td class="p-progress">
                      <div class="progress progress-xs">
                          <div
                          [style.background]="(occupiedCapacity[idx] < 70) ? 'rgb(0, 233, 0)' : ( (occupiedCapacity[idx] >= 70 && occupiedCapacity[idx] <90)? 'rgb(255, 183, 1)':'red')"

                          style="width: {{occupiedCapacity[idx]}}%" class="progress-bar progress-bar-success"></div>
                      </div>
                      <small style="font-size: 11px;">{{occupiedCapacity[idx]}}% Occupied </small>
                      <button [disabled]="true" *ngIf="occupiedCapacity[idx] == 0" class="btn btnEffect" >EMPTY RETURN</button>
                  </td>
                  </div>

                </ul>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4"> </p>

                </li>
            </div>

            </ul>
        </div>
      </div>

        <div class="col">
          <div className="sampleRoot" style="position: absolute; right: 0px;" >

            <div id="mapa-mapbox"></div>

          </div>

        </div>



