

  <app-nav-bar></app-nav-bar>
  <ngx-spinner *ngIf="type!='affittuario'" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


  <!-- tutto il contenuto-->

  <app-pending-registrations *ngIf="type == 'admin'"></app-pending-registrations>
  <app-company-home *ngIf="type == 'company'"></app-company-home>
  <app-affittuario-home *ngIf="type == 'affittuario'"></app-affittuario-home>





