<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<nav class="navbar navbar-icon-top navbar-expand-lg  navbar-dark"    style=" margin-bottom: -20px; background-color:#044459">
  <a class="navbar-brand" (click)="home()" style="color: white; cursor: pointer;">
    <i class="fas fa-home" ></i>
    &nbsp;
 Home</a>

 <form style="padding-left:13%; " *ngIf="userType=='affittuario' && !show">

  <div class="form-row"  >

    <div class="col-3">
      <input type="text" class="form-control" placeholder="{{requiredStartCity}}" (click)="requiredStartCity=''"
        [(ngModel)]="requiredStartCity" name="requiredStartCity"
       [matAutocomplete]="Startcity" (input)="getItems($event)" >
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="{{requiredEndCity}}" (click)="requiredEndCity=''"
        [(ngModel)]="requiredEndCity" name="requiredEndCity"
       [matAutocomplete]="Endcity" (input)="getItems($event)" >
    </div>
    <!-- choose type product -->
    <div class="col-2">
      <input type="text" class="form-control" placeholder="{{requiredProductType}}" (click)="requiredProductType=''"
      [(ngModel)]="requiredProductType" name="requiredProductType"  [matAutocomplete]="ProductType" (input)="getItems($event)"
      >
    </div>


    <div class="col-2">
      <input type="text" class="form-control" placeholder="{{requiredCapacity}}" (click)="requiredCapacity=''" [(ngModel)]="requiredCapacity" name="requiredCapacity">
    </div>
    <div class="" style="width: fit-content;" >
      <button type="submit" (click)="saveFilter()" class="btn btn-success">
        <i class="fa fa-search"></i>
      </button>
      </div>
     </div>
  <mat-autocomplete #Startcity="matAutocomplete">
    <mat-option (click)="selectedStart(city)" *ngFor="let city of cities  | searchFilter :query" >
      {{city}}
    </mat-option>
    <mat-autocomplete #Endcity="matAutocomplete">
      <mat-option (click)="selectedEnd(city)" *ngFor="let city of cities  | searchFilter :query" >
        {{city}}
      </mat-option>
  </mat-autocomplete>
</mat-autocomplete>
<mat-autocomplete #ProductType="matAutocomplete">
  <mat-option (click)="selectedProductType(type)" *ngFor="let type of productType  | searchFilter :query" >
    {{type}}
  </mat-option>
  </mat-autocomplete>
</form>


</nav>

<div class="left" style="margin-top: 20px" *ngIf="userType=='affittuario'" >



  <div class="item " onmouseover="" style="cursor: pointer;" routerLink="/history"
  >
    <i class=" fas fa fa-history"  onmouseover="" style="cursor: pointer;"
    ></i> Booking history
  </div>
  <mat-divider></mat-divider>
  <div class="item " onmouseover="" style="cursor: pointer;" routerLink="/analytics"
  >
  <i class="fas fa fa-chart-pie"></i>Analytics
  </div>
  <mat-divider></mat-divider>

  <!--  PER ADESSO TOLTA DA QUI PERCHE' E' LA HOME PAGE DELL'ADMIN

  <div *ngIf="userType == 'admin'" class="item " onmouseover="" style="cursor: pointer;" (click)="goToPendingListPage()"
  >
    <i class="fas fa fa-user-plus"  onmouseover="" style="cursor: pointer;" (click)="goToPendingListPage()"
    ></i> Authorize sign up
  </div>
  -->


  <div class="item" onmouseover="" (click)="logOut()" style="cursor: pointer;"
  >
    <i class=" fas bi bi-door-open-fill" onmouseover="" style="cursor: pointer;"(click)="logOut()"
    ></i>Log-out
  </div>

  <mat-divider></mat-divider>



</div>

<!-- side bar degli altri utenti NON Affittuario   -->

<div class="left" style="margin-top: 20px; height:200% !important" *ngIf="userType != 'affittuario' " >
  <mat-divider></mat-divider>

  <div class="item " onmouseover="" style="cursor: pointer;" routerLink="/home"
  >
    <i class="fas fa fa-home"  onmouseover="" style="cursor: pointer;"
    ></i> Home
  </div>
  <mat-divider></mat-divider>

  <!--  PER ADESSO TOLTA DA QUI PERCHE' E' LA HOME PAGE DELL'ADMIN

  <div *ngIf="userType == 'admin'" class="item " onmouseover="" style="cursor: pointer;" (click)="goToPendingListPage()"
  >
    <i class="fas fa fa-user-plus"  onmouseover="" style="cursor: pointer;" (click)="goToPendingListPage()"
    ></i> Authorize sign up
  </div>
  -->

  <mat-divider></mat-divider>

  <div *ngIf="userType == 'company'" class="item " onmouseover="" style="cursor: pointer;" routerLink="/myVectors/{{me.id}}"
  >
    <i class="fas fa-bus"  onmouseover="" style="cursor: pointer;"
    > </i>
   My Vectors
  </div>




  <mat-divider></mat-divider>



  <div class="item" onmouseover="" (click)="logOut()" style="cursor: pointer;"
  >
    <i class=" fas bi bi-door-open-fill" onmouseover="" style="cursor: pointer;"(click)="logOut()"
    ></i>Log-out
  </div>

  <mat-divider></mat-divider>



</div>






 