.left,
.right {
    top: 50%;
    float: left;

}


.left {
    background:#044459;
    display: inline-block;
    white-space: nowrap;
    width: 65px;
    transition: width .3s;
    height: 200%  !important;

}

.left:hover {
    width: 250px;
}

.item:hover {
    background-color: #044459;
}

.left .fas {
    margin: 15px;
    width: 40px;
    color:white
}

i.fas {
    font-size: 30px;
    vertical-align: middle !important;
}

.item {
    height: 65px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 18px;

}



mat-divider{
  background-color: rgb(193, 193, 193);
}
