<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<body>


<div class="container content">


<div id="content" class="content" style="min-height: 682px;">
  <header class="panel-heading">
   <div style="font-size: 24px;">  {{IdRouteDelViaggio}}. {{actualRoute.startCity}}-{{actualRoute.endCity}} </div>

    <span class="tools pull-right" style="position: relative; bottom: 20px;">
      <div class="btn-group " dropdown>
        <a dropdownToggle type="button" class="btn btn-primary dropdown-toggle" class="fa fa-chevron-down"> <!-- {2} -->
        </a>
        <ul *dropdownMenu class="dropdown-menu " role="menu">
         <div  *ngFor="let rotta of rotteDelViaggio; let myIndex = index">
          <li role="menuitem"><a class="dropdown-item "
            (click)="goTo(viaggioRoutes[myIndex].id)"
            [ngClass]="{'bg-success text-white': myIndex + 1 == IdRouteDelViaggio}"
            >{{myIndex + 1}}. {{rotta.startCity}} - {{rotta.endCity}}</a></li>
          <mat-divider></mat-divider>
        </div>
         </ul>
      </div>

     </span>
     <hr>
     <div><strong> Start Date :  </strong>  &nbsp;{{startDate}} </div>
     <div><strong>End Date : </strong> &nbsp;&nbsp;&nbsp;&nbsp; {{endDate}} </div>
</header>
<br>
      <div class="row">
        <div class="col-lg-12">
          <div class="content-box project-wrapper">


            <div class="project-item">

              <div class="status-desktop pull-left">
                <span
                [ngClass]="{'active': status=='active'}"
                [ngClass]="{'unactive': status=='expired'}"
                [ngClass]="{'yactive': status=='in trip'}"

                ></span>{{ status=="active" == true ? ' Active ' :( status=="in trip" ?  'In trip' : "Expired" )}}
              </div>

              <div class="project-box white-bg pull-left">


                <div class="project-tools mobile-tools text-right pull-left">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-close"></i></a>
                </div>

                <div class="project-progress pull-left" style="width: 600px">
                  <div class="progress progress-striped active">
                    <button
                    class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="companyPercentage" aria-valuemin="0" aria-valuemax="100" style="width: {{companyPercentage}}%;"
                    data-toggle="tooltip" data-placement="left" title="{{companyPercentage.toFixed(1)}}% occupied by the company: {{company.name}}">

                    </button>

                    <button *ngFor="let booking of bookingInfoList; let myIndex = index"
                        class="progress-bar progress-bar-striped progress-bar-{{randomColor(myIndex)}}" role="progressbar" aria-valuenow="percentage" aria-valuemin="0" aria-valuemax="100" style="width: {{booking.affittuarioPercentage}}%;"
                        data-toggle="tooltip" data-placement="left" title="{{booking.affittuarioPercentage}}% booked by: {{booking.affittuario.username}}">

                    </button>
                  </div>
                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{((vectorCapacity - viaggioRoute.availableCapacity)/(vectorCapacity)*100).toFixed(1)}}% occupied

              </div>

            </div>

        </div>
        <hr>

       <strong style="font-weight: 900; font-size: 20px;"> <label style="color:#216ba4"> Legend</label></strong>
        <br><br>
        <mat-icon style="color : #5cb85c">circle</mat-icon>
        <strong>{{company.name}}</strong>'s Percentage : {{companyPercentage.toFixed(1)}}%  &nbsp; {{companyPart}} Kg of {{vectorCapacity}} Kg

        <div *ngFor="let booking of bookingInfoList; let myIndex = index">
          <mat-icon style="color : {{randomColorRGB(myIndex)}}">circle</mat-icon>
          <strong>{{booking.affittuario.username}}</strong>'s Percentage : {{booking.affittuarioPercentage}}%  &nbsp; {{booking.bookedKg}} Kg of {{vectorCapacity}} Kg

      </div>
      </div>
      </div>

  </div>
</div>

</body>
