<body>

  <!-- style applicati alla pagina ed info da dove prenrede gli stlye-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="login.component.scss">
<!-- inizio pagina login-component -->
<div class="container">
  <div class="banner">
    <div class="navbar">
      <ul style="position: absolute; right: -200px; top : 50px">
        <li routerLink="/about"> <a>Home</a></li>
        <li routerLink="/signup"> <a>Sign Up</a></li>
        <li routerLink="/login"> <a>Login</a></li>
      </ul>
    </div>

</div>
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<strong>
          <h1 style="color:#009688; text-align: center; font-size : 30px; font-weight: bold">Sign in</h1>
        </strong>
			</div>
        <a style="margin-left: 70px; color: white;" class="fb btn social">
          <i class="fab fa-facebook fa-fw" ></i> Login with Facebook
        </a>
        <a style="margin-left: 70px; color: white;"  class="twitter btn social">
          <i class="fab fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a style="margin-left: 70px; color: white;"  class="google btn social">
          <i class="fab fa-google fa-fw"></i> Login with Google+
        </a>
        <br>
        <div style="color: white;display: flex;justify-content: center; font-weight: bold; font-size: 20px;" >
          <mat-card style="border-radius: 1.5rem;z-index: -1; background-color: rgb(165, 164, 164);">Or</mat-card></div>
          <div class="divider"></div>
      <div class="alert alert-warning" role="alert" *ngIf="presentAlert">
        <h4 class="alert-heading">Attention!</h4>
        <p>You are registered on our site, but you do not have permission to access the web features</p>
        <hr>
        <p class="mb-0">Please log in from our Mylinkedin mobile app</p>
      </div>
			<div class="card-body">
				<form  #loginForm="ngForm" (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control rounded" placeholder="Username"
            [(ngModel)]="userToLogin.username" name="username"
            #username='ngModel'
            required=true
            [ngClass]='{
              "is-invalid":username.errors && username.touched,
              "is-valid":!username.errors && username.touched
            }'
            >
            <div class="invalid-feedback" [hidden]="!username.errors?.required">
                Username richiesto
            </div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control  rounded" placeholder="password"
            [(ngModel)]="userToLogin.password" name="password"
            #psw='ngModel'
            required=true
            [ngClass]='{
              "is-invalid":psw.errors && psw.touched,
              "is-valid":!psw.errors && psw.touched
            }'
            >
            <div class="invalid-feedback" [hidden]="!psw.errors?.required">
              Password required
          </div>
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="button">
					</div>
				</form>
			</div>
    </div>
	</div>
</div>



</body>

