
<div id="modal-content-wrapper">
  <header id="modal-header">
      <h1  style="text-align: center; text-justify:auto;" id="modal-title">There is a conflict in your offer</h1>
      <h3 style="display: flex; justify-content: center;">Some city of a treats is the same of the following.</h3>
      <h3 style="display: flex; justify-content: center;">Please,correct the information</h3>

    </header>

  <footer id="modal-footer"  style="display: flex;justify-content: center;">
      <button mat-raised-button class="btn btn-danger" id="modal-cancel-button" (click)="closeModal()">OK
      </button>
  </footer>
</div>


